<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
        .tab {
            padding: 10px;
            margin: 5px;
            background-color: #f2f2f2;
            border: 1px solid #ddd;
            cursor: pointer;
            text-decoration: none;
            color: black;
        }

        .tab:hover {
            background-color: #ddd;
        }

        .header {
            text-align: center;
            font-size: 24px;
            margin: 20px;
        }
    </style>
</head>
<body>
    <div class="tabs">
        <a href="patients" class="tab">Patients</a>
        <a href="pcps" class="tab">PCPs</a>
        <a href="visits" class="tab">Visits</a>
    </div>
    <div class="header">
        Healthcare Organizer Application
    </div>
</body>


</html>

