<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pcp.first_name }} {{ pcp.last_name }}</title>
</head>
<body>
<div class="tabs">
        <a href="/" class="tab">Home</a> 
        <a href="/patients" class="tab">Patients</a>
        <a href="/pcps" class="tab">PCPs</a>
        <a href="/visits" class="tab">Visits</a>
        <a href="/locations" class="tab">Locations</a>
        <a href="pcps_locations" class="tab">PCP Locations</a>
    </div>
    <h1>{{ pcp.first_name }} {{ pcp.last_name }} - {{ pcp.pcp_specialty }}</h1>

    <h2>Update PCP</h2>
    <form method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{ pcp.first_name }}">
        <br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ pcp.last_name }}">
        <br>
        <label for="pcp_specialty">Specialty:</label>
        <input type="text" id="pcp_specialty" name="pcp_specialty" value="{{ pcp.pcp_specialty }}">
        <br>
        <input type="submit" value="Update PCP">
    </form>

