<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PCPs Locations</title>
    <style>
        .tab {
            padding: 10px;
            margin: 5px;
            background-color: #f2f2f2;
            border: 1px solid #ddd;
            cursor: pointer;
            text-decoration: none;
            color: black;
        }

        .tab:hover {
            background-color: #ddd;
        }
    </style>
</head>
<body>
<div class="tabs">
        <a href="/" class="tab">Home</a> 
        <a href="/patients" class="tab">Patients</a>
        <a href="/pcps" class="tab">PCPs</a>
        <a href="/visits" class="tab">Visits</a>
        <a href="/locations" class="tab">Locations</a>
    </div>
    <h1>PCPs Locations</h1>
    
    <h2>Add New PCP Location</h2>
    <form method="POST">
    <legend><strong>Add PCP Location</strong></legend>
        <fieldset class="fields">
        <label for="PCPs_pcp_id">PCP ID:</label>
        <input type="number" id="PCPs_pcp_id" name="PCPs_pcp_id">
        <br>
        <label for="Locations_location_id">Location ID:</label>
        <input type="number" id="Locations_location_id" name="Locations_location_id">
        <br>
        </fieldset>
        <input type="submit" value="Add PCP Location">
    </form>

    <h2>List of PCP Locations</h2>
    <table border="3" cellpadding="5">
    <thead>
    <tr>
        {% for key in pcp_locations[0].keys() %}
            <th>{{ key }}</th>
        {% endfor %}
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    <tbody>
        {% for pcp_location in pcp_locations %}
        <tr>
            {% for key in pcp_location.keys() %}
                <td>{{pcp_location[key]}}</td>
            {% endfor %}
            <td><a href="/pcp_locations/{{pcp_location.pcp_locations_pk_id}}" class="btn btn-default">EDIT</a></td>
            <td><a href="/delete_pcp_location/{{pcp_location.pcp_locations_pk_id}}" class="btn btn-default">DELETE</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
