<html>
  <head>
    <title>Dashboard</title>
    <style>
        .tab {
            padding: 10px;
            margin: 5px;
            background-color: #f2f2f2;
            border: 1px solid #ddd;
            cursor: pointer;
            text-decoration: none;
            color: black;
        }

        .tab:hover {
            background-color: #ddd;
        }
    </style>
</head>
<body>
    <div class="tabs">
        <a href="/" class="tab">Home</a>
        <a href="patients.html" class="tab">Patients</a>
        <a href="pcps.html" class="tab">PCPs</a>
        <a href="visits.html" class="tab">Visits</a>
    </div>
</body>

<body>
<h1>PCP Location Info</h1>

<table border="3" cellpadding="5">
<thead>
<tr>
    <!-- Iterate through each key in the first entry to get the
    column name -->
    {% for key in pcps[0].keys() %}

    <!-- Create a <th> tag with the key inside of it, this will be
    our header row -->
    <th>{{ key }}</th>

    <!-- End of this for loop -->
    {% endfor %}
</tr>
<tbody>

<!-- Now, iterate through every person in pcps -->
{% for person in pcps %}
<tr>
    <!-- Then iterate through every key in the current person dictionary -->
    {% for key in person.keys() %}
    <!-- Create a <td> element with the value of that key in it -->
    <td>{{person[key]}}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>

<p>&nbsp;</p>
</div> 
<div id="insert" style="display: block">
    <form method="POST">
    <legend><strong>Add PCP</strong></legend>
        <fieldset class="fields">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name">
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name">
        <label for="pcp_specialty">Specialty:</label>
        <input type="text" id="pcp_specialty" name="pcp_specialty">
        <label for="locations">Locations: </label>
            <select id="locations" name="locations">
              <option value="location1">Location 1</option>
              <option value="location2">Location 2</option>
              <option value="location3">Location 3</option>
          </select>
        </fieldset>
        <input class="btn" type="submit" id="addPCP" value="Add a PCP">
    </form>
</div>
<br>

</body>
</html>
